[submodule "FFmpeg"]
	path = FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "XPCFFmpegService/NSException"]
	path = XPCFFmpegService/NSException
	url = https://github.com/rsalesas/NSException.git
